@model proj2_tutorialPL.Models.Product

@{
    ViewData["Title"] = "Product";
}
<h1>Product</h1>
<p>Model.ID</p>
<p>Model.Category</p>
<p>Model.Description</p>
<p>Model.Name</p>
<p>Model.Model</p>
<p>Model.Fuel_burning</p>

