@model proj2_tutorialPL.Models.Product
@{
}
<h1>Formularz dodajacy produkt do magazynu</h1>


@using (Html.BeginForm("Add","Warehouse",FormMethod.Post))//akcja kontroler 
{
	@Html.Partial("_AddProductForm",Model);
}



<p>ID po zapisie(TempData) <strong>@TempData["ProductID"]</strong></p>